@model IEnumerable<Laptrinhweb.Models.Category>
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_LayoutABC1.cshtml";
}
<h4><br /><br /><br /><br /></h4>
<div class="example">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <ul class="list-inline">
                    <a href="@Url.Action("ProductAll", "ABC", new { id = item.idcate})" class="list-group list-group-horizontal">
                    <li class="list-group-item list-group-item-action">@item.name </li>
                    </a>
                </ul>
            }
        </div>
        <div>
            <h2><br /><br />Price List</h2>
            <img src="~/Images/banggia.png" width="900" height="1000"/>
        </div>
    </div>
    
</div>

    <style type="text/css">
        .example {
            margin: 20px;
            font-family: 'Segoe Script';
            font-size: 40px;
        }
    </style>

